* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: calibri;
}


header {
    background-color: rgb(43, 43, 43);
    width: 100%;
    clear: both;
    content: "";
    display: table;
    height: 40px;
}

.menu{
    width: 900px;
    margin: 0 auto;
}



nav {
    float: right;
    padding-top: 10px;
}

nav ul {
    display: flex;
    align-items: center; /* Alinea verticalmente */
}

nav li {
    list-style: none;
    margin: 0 15px;
    display: flex;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.modificarCosas {
    background: none !important; /* Elimina cualquier fondo forzado */
    border: none;
    outline: none;
    cursor: pointer;
    color: white; /* Asegura que el color del texto sea el mismo */
    font-weight: bold;
    font-size: inherit; /* Asegura que el tamaño de letra sea el mismo */
    text-decoration: none; /* Quita el subrayado */
    padding: 0;
    margin: 0;
    display: inline; /* Evita que el botón se comporte como bloque */
}

